@charset "UTF-8";
/* IMPORTS
========================================================================== */
/* ==========================================================================
   Normalize.scss settings
   ========================================================================== */
/**
 * Includes legacy browser support IE6/7
 *
 * Set to false if you want to drop support for IE6 and IE7
 */
/* Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 * 3. Corrects text resizing oddly in IE 6/7 when body `font-size` is set using
 *  `em` units.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  box-sizing: border-box;
  height: 100%; }

*, *:before, *:after {
  box-sizing: inherit; }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active, a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Addresses styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * 1. Remove border when inside `a` element in IE 8/9/10.
 * 2. Improves image quality when scaled in IE 7.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 * Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *  Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 * 4. Improves appearance and consistency in all browsers.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *  and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *  `input` and others.
 * 4. Removes inner spacing in IE 7 without affecting normal text inputs.
 *  Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 *  Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */ }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * 3. Corrects text not wrapping in Firefox 3.
 * 4. Corrects alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/* COLORS
========================================================================== */
/* TYPEFACES
========================================================================== */
/* DIMENSIONS
========================================================================== */
/* 
  Darkly Pygments Theme
  (c) 2014 Sourcey
  http://sourcey.com
*/
.highlight {
  white-space: pre;
  overflow: auto;
  word-wrap: normal;
  /* horizontal scrolling */
  border-radius: 3px;
  padding: 20px;
  background: #223040;
  color: #C1C2C3;
  box-shadow: inset 0 0 0 1px #021521; }

.highlight .c {
  color: #A7ACB3; }

/* Comment */
.highlight .err {
  color: #960050;
  background-color: #1e0010; }

/* Error */
.highlight .k {
  color: #66d9ef; }

/* Keyword */
.highlight .l {
  color: #ae81ff; }

/* Literal */
.highlight .n {
  color: #f8f8f2; }

/* Name */
.highlight .o {
  color: #f92672; }

/* Operator */
.highlight .p {
  color: #f8f8f2; }

/* Punctuation */
.highlight .cm {
  color: #A7ACB3; }

/* Comment.Multiline */
.highlight .cp {
  color: #A7ACB3; }

/* Comment.Preproc */
.highlight .c1 {
  color: #A7ACB3; }

/* Comment.Single */
.highlight .cs {
  color: #A7ACB3; }

/* Comment.Special */
.highlight .ge {
  font-style: italic; }

/* Generic.Emph */
.highlight .gs {
  font-weight: bold; }

/* Generic.Strong */
.highlight .kc {
  color: #66d9ef; }

/* Keyword.Constant */
.highlight .kd {
  color: #66d9ef; }

/* Keyword.Declaration */
.highlight .kn {
  color: #f92672; }

/* Keyword.Namespace */
.highlight .kp {
  color: #66d9ef; }

/* Keyword.Pseudo */
.highlight .kr {
  color: #66d9ef; }

/* Keyword.Reserved */
.highlight .kt {
  color: #66d9ef; }

/* Keyword.Type */
.highlight .ld {
  color: #e6db74; }

/* Literal.Date */
.highlight .m {
  color: #ae81ff; }

/* Literal.Number */
.highlight .s {
  color: #e6db74; }

/* Literal.String */
.highlight .na {
  color: #a6e22e; }

/* Name.Attribute */
.highlight .nb {
  color: #f8f8f2; }

/* Name.Builtin */
.highlight .nc {
  color: #a6e22e; }

/* Name.Class */
.highlight .no {
  color: #66d9ef; }

/* Name.Constant */
.highlight .nd {
  color: #a6e22e; }

/* Name.Decorator */
.highlight .ni {
  color: #f8f8f2; }

/* Name.Entity */
.highlight .ne {
  color: #a6e22e; }

/* Name.Exception */
.highlight .nf {
  color: #a6e22e; }

/* Name.Function */
.highlight .nl {
  color: #f8f8f2; }

/* Name.Label */
.highlight .nn {
  color: #f8f8f2; }

/* Name.Namespace */
.highlight .nx {
  color: #a6e22e; }

/* Name.Other */
.highlight .py {
  color: #f8f8f2; }

/* Name.Property */
.highlight .nt {
  color: #f92672; }

/* Name.Tag */
.highlight .nv {
  color: #f8f8f2; }

/* Name.Variable */
.highlight .ow {
  color: #f92672; }

/* Operator.Word */
.highlight .w {
  color: #f8f8f2; }

/* Text.Whitespace */
.highlight .mf {
  color: #ae81ff; }

/* Literal.Number.Float */
.highlight .mh {
  color: #ae81ff; }

/* Literal.Number.Hex */
.highlight .mi {
  color: #ae81ff; }

/* Literal.Number.Integer */
.highlight .mo {
  color: #ae81ff; }

/* Literal.Number.Oct */
.highlight .sb {
  color: #e6db74; }

/* Literal.String.Backtick */
.highlight .sc {
  color: #e6db74; }

/* Literal.String.Char */
.highlight .sd {
  color: #e6db74; }

/* Literal.String.Doc */
.highlight .s2 {
  color: #e6db74; }

/* Literal.String.Double */
.highlight .se {
  color: #ae81ff; }

/* Literal.String.Escape */
.highlight .sh {
  color: #e6db74; }

/* Literal.String.Heredoc */
.highlight .si {
  color: #e6db74; }

/* Literal.String.Interpol */
.highlight .sx {
  color: #e6db74; }

/* Literal.String.Other */
.highlight .sr {
  color: #e6db74; }

/* Literal.String.Regex */
.highlight .s1 {
  color: #e6db74; }

/* Literal.String.Single */
.highlight .ss {
  color: #e6db74; }

/* Literal.String.Symbol */
.highlight .bp {
  color: #f8f8f2; }

/* Name.Builtin.Pseudo */
.highlight .vc {
  color: #f8f8f2; }

/* Name.Variable.Class */
.highlight .vg {
  color: #f8f8f2; }

/* Name.Variable.Global */
.highlight .vi {
  color: #f8f8f2; }

/* Name.Variable.Instance */
.highlight .il {
  color: #ae81ff; }

/* Literal.Number.Integer.Long */
/* Generic Heading & Diff Header */
.highlight .gu {
  color: #A7ACB3; }

/* Generic.Subheading & Diff Unified/Comment? */
.highlight .gd {
  color: #f92672; }

/* Generic.Deleted & Diff Deleted */
.highlight .gi {
  color: #a6e22e; }

/* Generic.Inserted & Diff Inserted */
/* BASICS
========================================================================== */
body {
  background-color: white;
  background-image: url("../img/bg-pattern.svg");
  background-repeat: repeat-x;
  font-family: "Avenir Next", "Avenir", -apple-system, "SF UI Text", "Roboto", "Segoe UI", sans-serif;
  color: #35444D;
  height: 100%; }

p {
  color: #021521;
  color: rgba(2, 21, 33, 0.6); }

h1,
h2,
h3,
h4,
.about-us-dl dt {
  font-family: "Droid Serif", Georgia, serif;
  font-weight: bold;
  margin: 0; }

h1  {
  font-size: 10em; }

h2 {
  font-size: 2.1em;
  letter-spacing: 0.01em;
  margin-bottom: 30px; }

h3 {
  font-weight: bold;
  font-size: 1.4em;
  color: #021521;
  margin-bottom: 20px; }

h4, .about-us-dl dt {
  font-weight: normal;
  font-size: 1.1em;
  color: #021521; }

h6  {
  font-size: 1em;
  font-weight: 500;
  margin-top: 0; }

@media screen and (max-width: 480px) {
  h1 {
    font-size: 2em; }
  h2 {
    font-size: 1.4em;
    line-height: 1.4; }
  h3 {
    font-size: 1.1em; } }

a {
  color: inherit; }

b,
strong {
  font-weight: 500;
  color: #021521; }

.btn, .tag {
  display: inline-block;
  color: #fff;
  background-color: #E74E40;
  border-radius: 420px;
  text-decoration: none;
  padding: 4px 15px;
  font-size: 0.9em;
  font-family: "Avenir Next", "Avenir", -apple-system, "SF UI Text", "Roboto", "Segoe UI", sans-serif; }
  .btn.large, .large.tag {
    display: block;
    text-align: center;
    width: 180px;
    margin-top: 30px;
    font-size: 1em;
    padding: 8px 0; }
  .btn.text, .text.tag {
    font-size: 1em;
    padding: 0;
    background-color: transparent;
    border-radius: 0;
    color: #E74E40;
    padding-bottom: 2px;
    border-bottom: 2px solid rgba(231, 78, 64, 0.2); }
  .btn.center, .center.tag {
    margin-left: auto;
    margin-right: auto; }

pre {
  font-family: Monaco, Menlo, Consolas, Lucida Console, monospace;
  font-size: 0.9em; }

p code {
  padding: 1px 4px;
  background: #F0F0F0;
  font-size: 0.9em;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.1);
  border-radius: 3px; }

blockquote {
  border-left: 2px solid #F0F0F0;
  margin-left: 20px;
  padding-left: 20px; }

.tag {
  background-color: #EEF2F4;
  color: rgba(2, 21, 33, 0.6); }

.side-note {
  color: rgba(2, 21, 33, 0.6);
  font-family: "Droid Serif", Georgia, serif;
  font-style: italic;
  font-size: 0.95em;
  line-height: 1.7; }

.wrapper {
  max-width: 960px;
  margin: 0 auto; }
  .wrapper:after {
    content: "";
    display: table;
    clear: both; }
  @media screen and (max-width: 960px) {
    .wrapper {
      padding: 0 20px; } }

.content h1,
.content h2,
.content h3,
.content h4,
.content .about-us-dl dt, .about-us-dl
.content dt {
  margin-top: 80px;
  margin-bottom: 20px;
  color: #35444D; }
  .content h1 a,
  .content h2 a,
  .content h3 a,
  .content h4 a,
  .content .about-us-dl dt a, .about-us-dl
  .content dt a {
    text-decoration: none; }

.content p,
.content li {
  color: rgba(2, 21, 33, 0.6);
  line-height: 1.5; }

.content li {
  margin-bottom: 10px; }

.content .btn.large, .content .large.tag {
  width: auto;
  padding-left: 24px;
  padding-right: 24px;
  display: inline-block; }

.content-small {
  max-width: 600px; }

/* HERO/HOME
========================================================================== */
.header {
  position: relative;
  background-color: #fff;
  box-shadow: 0 1px 0 rgba(2, 21, 33, 0.1), 0 1px 3px rgba(2, 21, 33, 0.1);
  z-index: 1337;
  line-height: 80px; }
  .header:after {
    content: "";
    display: table;
    clear: both; }
  .header .header__logo {
    float: left;
    text-indent: -13337px;
    background-image: url("../img/logo.svg");
    background-repeat: no-repeat;
    background-position: left center;
    width: 173px;
    height: 100%;
    overflow: auto; }
    .header .header__logo a {
      color: #021521;
      text-decoration: none;
      font-weight: 500; }
  .header .header__menu {
    display: none;
    float: right;
    text-decoration: none;
    color: rgba(2, 21, 33, 0.6); }
    @media screen and (max-width: 480px) {
      .header .header__menu {
        display: block; } }
  .header .navigation {
    float: right;
    margin: 0;
    padding: 0; }
    .header .navigation li {
      list-style: none;
      display: inline-block;
      margin-right: 60px; }
      .header .navigation li:last-of-type {
        margin-right: 0; }
      .header .navigation li a,
      .header .navigation li span {
        color: rgba(2, 21, 33, 0.6);
        text-decoration: none;
        cursor: pointer; }
    .header .navigation li.active a,
    .header .navigation span.active {
      color: #021521;
      font-weight: 500; }
    .header .navigation .subnav {
      display: none;
      padding: 10px;
      border-radius: 2px;
      position: absolute;
      background: #fff;
      max-width: 200px;
      line-height: 1.4;
      text-align: center;
      box-shadow: 0 0 0 1px rgba(2, 21, 33, 0.1), 0 1px 2px rgba(2, 21, 33, 0.1);
      margin-top: -20px;
      margin-left: -80px;
      transition: 0.2s all ease; }
      .header .navigation .subnav.visible {
        display: block; }
      .header .navigation .subnav li {
        margin-right: 0;
        margin-bottom: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid #F0F0F0; }
        .header .navigation .subnav li:last-of-type {
          margin-bottom: 0;
          border-bottom: 0;
          padding-bottom: 0; }
    @media screen and (max-width: 480px) {
      .header .navigation {
        display: none;
        float: none;
        position: relative;
        background-color: #fff;
        line-height: 1;
        width: 100%;
        clear: both;
        padding-bottom: 20px;
        text-align: right; }
        .header .navigation.visible {
          display: block; }
        .header .navigation li {
          display: block;
          margin-bottom: 20px;
          width: 100%; }
          .header .navigation li:last-child {
            margin-bottom: 0; }
        .header .navigation .subnav {
          position: relative;
          margin: 0;
          display: none;
          max-width: 100%;
          box-shadow: none;
          padding: 0;
          text-align: right; }
          .header .navigation .subnav li {
            padding: 0;
            margin-top: 20px;
            margin-bottom: 0;
            border: none; }
            .header .navigation .subnav li a {
              color: rgba(2, 21, 33, 0.4); } }

/* HERO/HOME
========================================================================== */
.hero {
  position: relative;
  width: 100%;
  padding: 170px 0;
  background-color: #E8223A;
  background-image: url("../img/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(2, 21, 33, 0.2); }
  @media screen and (max-width: 480px) {
    .hero {
      padding-top: 160px;
      padding-bottom: 100px;
      padding-left: 20px;
      padding-right: 20px; } }
  .hero:before {
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 3em;
    height: 7em;
    background-image: url("../img/logo-hero.svg");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: contain;
    content: "";
    opacity: .2; }
    @media screen and (max-width: 480px) {
      .hero:before {
        height: 5em; } }
  .hero h1 {
    font-size: 4em;
    margin-bottom: 30px; }
    @media screen and (max-width: 480px) {
      .hero h1 {
        font-size: 2em; } }
  .hero .hero__lead {
    max-width: 30em;
    font-size: 1.2em;
    margin: 0 auto;
    color: #fff; }
    @media screen and (max-width: 480px) {
      .hero .hero__lead {
        font-size: 1em; } }

.section {
  margin-top: 80px; }
  .section:after {
    content: "";
    display: table;
    clear: both; }
  .section h2 {
    text-align: center; }
    .section h2 + p {
      text-align: center;
      max-width: 480px;
      margin-right: auto;
      margin-left: auto;
      margin-bottom: 3em;
      color: rgba(2, 21, 33, 0.6); }

.events__event {
  position: relative;
  width: 46%;
  margin-right: 8%;
  float: left;
  overflow: hidden;
  text-align: center; }
  @media screen and (max-width: 480px) {
    .events__event {
      width: 100%;
      margin-right: 0;
      margin-bottom: 60px; }
      .events__event:last-child {
        margin-bottom: 0; } }
  .events__event:nth-child(even) {
    margin-right: 0;
    clear: right; }
  .events__event h3 {
    margin-top: 60px; }
  .events__event p,
  .events__event span {
    color: rgba(2, 21, 33, 0.8); }
  .events__event .meta {
    font-style: italic; }

.events__event-poster {
  position: relative;
  display: block;
  width: 100%;
  height: 260px;
  margin-left: 20px;
  background-size: cover;
  text-align: left; }
  @media screen and (max-width: 960px) {
    .events__event-poster {
      height: 190px; } }
  .events__event-poster:before {
    position: absolute;
    width: 100%;
    width: calc(100% - 20px);
    height: 100%;
    margin-left: -20px;
    margin-top: 20px;
    border: 3px solid #E8223A;
    content: "";
    z-index: -1; }

.projects__container:after {
  content: "";
  display: table;
  clear: both; }

.projects__project {
  width: 32%;
  margin-right: 2%;
  margin-bottom: 20px;
  float: left;
  border: 1px solid #F0F0F0;
  box-shadow: 0 1px 2px rgba(2, 21, 33, 0.05); }
  .projects__project:last-child {
    margin-bottom: 0; }
  @media screen and (max-width: 960px) {
    .projects__project {
      width: 49%;
      margin-right: 2%; }
      .projects__project:nth-child(even) {
        margin-right: 0;
        clear: right; } }
  @media screen and (max-width: 480px) {
    .projects__project {
      width: 100%; } }
  @media screen and (min-width: 960px) {
    .projects__project:nth-child(3n) {
      margin-right: 0;
      clear: right; } }
  .projects__project.macros {
    width: 100%;
    margin: 0; }
    .projects__project.macros .projects__project-body {
      max-height: 100%; }

.projects__project-header {
  border-bottom: 1px solid #F0F0F0;
  padding: 20px; }
  .projects__project-header:after {
    content: "";
    display: table;
    clear: both; }
  .projects__project-header h4, .projects__project-header .about-us-dl dt, .about-us-dl .projects__project-header dt {
    float: left;
    line-height: 1; }

.projects__project-body {
  position: relative;
  padding: 20px;
  max-height: 200px;
  overflow: hidden; }
  .projects__project-body.expanded {
    max-height: 100%; }
  .projects__project-body .expand,
  .projects__project-body .expand-core {
    position: absolute;
    bottom: 20px;
    right: 20px;
    box-shadow: -5px 0 0 #fff;
    border-bottom: 2px solid #F0F0F0;
    background-color: #fff;
    color: #021521;
    cursor: pointer; }
  .projects__project-body p {
    margin-bottom: 0;
    color: rgba(2, 21, 33, 0.6); }

@media screen and (max-width: 960px) {
  .home .projects__container {
    padding: 0 40px; }
  .home .projects__project {
    display: none;
    width: 49%;
    margin-right: 2%; }
  .home .projects__project:nth-child(2) {
    margin-right: 0; }
  .home .projects__project:nth-child(1),
  .home .projects__project:nth-child(2) {
    display: block; } }

@media screen and (max-width: 480px) {
  .home .projects__container {
    padding: 0; }
  .home .projects__project {
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px; } }

.projects-core .projects__project {
  width: 100%;
  height: auto; }

.projects-core .projects__project-body {
  max-height: 100%; }

@media screen and (max-width: 960px) {
  .about-us {
    padding: 0 40px; } }

@media screen and (max-width: 480px) {
  .about-us {
    padding: 0; } }

.about-us-dl {
  width: 32%;
  height: 240px;
  margin-left: 2%;
  margin-top: 0;
  margin-bottom: 20px;
  float: left;
  text-align: center;
  border: 1px solid #F0F0F0;
  padding: 20px;
  padding-top: 110px;
  box-shadow: 0 1px 2px rgba(2, 21, 33, 0.05);
  background-position: center 40px;
  background-repeat: no-repeat; }
  @media screen and (max-width: 960px) {
    .about-us-dl {
      width: 49%;
      margin-left: 2%; }
      .about-us-dl:nth-child(odd) {
        margin-left: 0;
        clear: left; } }
  @media screen and (max-width: 480px) {
    .about-us-dl {
      width: 100%;
      margin-left: 0; } }
  @media screen and (min-width: 960px) {
    .about-us-dl:nth-child(3n) {
      margin-left: 0;
      clear: left; } }
  .about-us-dl.about-us-dl--open-source {
    background-image: url("../img/ico-opensource.svg"); }
  .about-us-dl.about-us-dl--functional {
    background-image: url("../img/ico-functional.svg"); }
  .about-us-dl.about-us-dl--shared {
    background-image: url("../img/ico-shared.svg"); }
  .about-us-dl.about-us-dl--resources {
    background-image: url("../img/ico-resources.svg"); }
  .about-us-dl.about-us-dl--friendly {
    background-image: url("../img/ico-friendly.svg"); }
  .about-us-dl dt {
    position: relative;
    margin-bottom: 20px; }
    .about-us-dl dt:after {
      position: absolute;
      display: block;
      top: 30px;
      left: 50%;
      width: 2em;
      height: 2px;
      margin-left: -1em;
      background-color: #F0F0F0;
      content: ""; }
  .about-us-dl dd {
    margin: 0;
    color: rgba(2, 21, 33, 0.6); }

/* ABOUT
========================================================================== */
.contact__items {
  margin-bottom: 80px; }
  .contact__items:after {
    content: "";
    display: table;
    clear: both; }

.contact__item {
  display: block;
  text-align: center;
  text-decoration: none;
  width: 32%;
  margin-left: 2%;
  float: left;
  padding: 20px;
  box-shadow: inset 0 0 0 1px #F0F0F0;
  background-repeat: no-repeat;
  background-position: 20px center;
  line-height: 32px; }
  @media screen and (max-width: 960px) {
    .contact__item {
      width: 49%;
      margin-bottom: 20px; }
      .contact__item:nth-child(odd) {
        margin-left: 0;
        clear: left; }
      .contact__item:nth-child(3) {
        float: none;
        margin-left: auto;
        margin-right: auto; } }
  @media screen and (max-width: 480px) {
    .contact__item {
      width: 100%;
      margin-left: 0; } }
  @media screen and (min-width: 960px) {
    .contact__item:nth-child(1) {
      margin-left: 0;
      clear: left; } }
  .contact__item .tag {
    float: right; }

.contact__item--google {
  background-image: url("../img/ico-groups.png");
  background-size: 30px 32px; }

.contact__item--gitter {
  background-image: url("../img/ico-gitter.svg");
  background-size: 32px 32px; }

.contact__item--email {
  background-image: url("../img/ico-email.svg");
  background-size: 32px 32px; }

/* PROJECTS PAGE
========================================================================== */
.projects-page .section {
  margin-top: 20px; }
  .projects-page .section:first-of-type {
    margin-top: 80px; }

.list {
  margin-top: 20px; }
  .list .list__item {
    width: 100%;
    border-top: 1px solid #F0F0F0;
    padding: 20px 0; }
    .list .list__item:after {
      content: "";
      display: table;
      clear: both; }
    .list .list__item:first-child {
      border-top: 0;
      padding-top: 0; }
    .list .list__item:last-child {
      padding-bottom: 0; }
    .list .list__item .list__item-slug {
      float: right;
      color: rgba(2, 21, 33, 0.6); }
      @media screen and (max-width: 480px) {
        .list .list__item .list__item-slug {
          display: none; } }
    .list .list__item h6 {
      display: inline-block;
      font-size: 1em;
      margin: 0;
      font-weight: 500;
      color: #021521; }

/* EVENTS
========================================================================== */
.event__hero {
  position: relative;
  width: 100%;
  margin-bottom: 80px;
  padding: 0 0 120px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #fff;
  text-shadow: 0 1px 1px rgba(2, 21, 33, 0.2);
  overflow: hidden; }
  .event__hero:after {
    content: "";
    display: table;
    clear: both; }
  @media screen and (max-width: 480px) {
    .event__hero {
      padding: 100px 0; } }
  .event__hero:before {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #042D73;
    opacity: .6;
    content: "";
    z-index: 0; }
  .event__hero .wrapper {
    position: relative;
    z-index: 1; }
  .event__hero h1 {
    font-size: 4em; }
    @media screen and (max-width: 480px) {
      .event__hero h1 {
        font-size: 2em; } }
  .event__hero strong {
    color: inherit;
    font-weight: 600; }
  .event__hero .hero__lead {
    font-size: 1.2em;
    margin-top: 40px;
    margin-bottom: 0;
    color: #fff; }
    @media screen and (max-width: 480px) {
      .event__hero .hero__lead {
        font-size: 1em;
        margin-top: 20px; } }
  .event__hero .event__header {
    width: 100%;
    margin-bottom: 120px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    font-size: 0.9em; }
    .event__hero .event__header:after {
      content: "";
      display: table;
      clear: both; }
    @media screen and (max-width: 480px) {
      .event__hero .event__header {
        display: none; } }
    .event__hero .event__header p {
      float: left;
      margin: 0;
      color: #fff; }
  .event__hero .navigation {
    float: right;
    list-style: none;
    padding: 0;
    margin: 0; }
    .event__hero .navigation li {
      display: inline-block;
      margin-right: 100px; }
      @media screen and (max-width: 960px) {
        .event__hero .navigation li {
          margin-right: 40px; } }
      .event__hero .navigation li:last-of-type {
        margin-right: 0;
        clear: right; }
      .event__hero .navigation li a {
        text-decoration: none;
        color: rgba(255, 255, 255, 0.8); }
        .event__hero .navigation li a:hover  {
          color: #fff; }

/* BLOG
========================================================================== */
.posts {
  margin-top: 80px; }

.sidebar {
  width: 300px;
  float: right;
  margin-top: 80px;
  margin-left: 60px;
  padding-left: 20px;
  border-left: 2px solid #F0F0F0; }
  @media screen and (max-width: 960px) {
    .sidebar {
      display: none; } }
  .sidebar .sidebar__about {
    margin-bottom: 40px; }
  .sidebar .btn.text, .sidebar .text.tag {
    margin-top: 10px;
    display: block;
    float: left;
    clear: left; }

.post__author {
  margin-top: 40px;
  margin-bottom: 40px;
  border-top: 1px solid #F0F0F0;
  border-bottom: 1px solid #F0F0F0;
  padding: 20px 0; }
  .post__author:after {
    content: "";
    display: table;
    clear: both; }
  .post__author p {
    margin-bottom: 10px;
    margin-top: 10px; }
  .post__author .portrait {
    width: 80px;
    height: 80px;
    margin-right: 20px;
    display: block;
    float: left; }

.post__meta {
  margin-top: 20px;
  color: rgba(2, 21, 33, 0.6); }
  .post__meta:after {
    content: "";
    display: table;
    clear: both; }
  .post__meta p {
    float: left;
    height: 50px;
    margin: 0;
    line-height: 50px; }

.portrait {
  display: block;
  float: left;
  width: 50px;
  height: 50px;
  margin-right: 10px;
  border-radius: 420px;
  vertical-align: middle; }

.pagination {
  margin-top: 40px;
  padding-top: 40px;
  border-top: 1px solid #F0F0F0; }
  .pagination:after {
    content: "";
    display: table;
    clear: both; }
  .pagination .next {
    float: right; }
  .pagination .prev  {
    float: left; }

/* FOOTER
========================================================================== */
.footer {
  width: 100%;
  background: #35444D;
  color: #fff;
  font-size: 0.9em;
  line-height: 80px;
  margin-top: 80px; }
  .footer:after {
    content: "";
    display: table;
    clear: both; }
  @media screen and (max-width: 960px) {
    .footer {
      padding: 20px;
      line-height: 24px; } }
  .footer p {
    float: left;
    margin: 0;
    color: #fff; }
    @media screen and (max-width: 960px) {
      .footer p {
        float: none;
        width: 100%;
        margin: 0 auto 10px;
        text-align: center; } }
    @media screen and (max-width: 480px) {
      .footer p {
        margin-bottom: 20px; } }
    .footer p a {
      color: #FA7476;
      text-decoration: none; }
  .footer .navigation {
    float: right;
    margin: 0;
    padding: 0; }
    @media screen and (max-width: 960px) {
      .footer .navigation {
        float: none;
        text-align: center; } }
    .footer .navigation li {
      list-style: none;
      display: inline-block;
      margin-right: 60px; }
      @media screen and (max-width: 480px) {
        .footer .navigation li {
          margin-right: 20px; } }
      .footer .navigation li:last-of-type {
        margin-right: 0; }
      .footer .navigation li a {
        color: #8F9293;
        text-decoration: none; }

/* HELPERS
========================================================================== */
.pull-left {
  float: left; }

.pull-right {
  float: right; }

.ico-repo {
  display: inline-block;
  width: 26px;
  height: 26px;
  background-image: url("../img/ico-repo.svg");
  background-repeat: no-repeat;
  vertical-align: -35%;
  margin-right: 10px; }
