---
layout: default
title: About
---

{% include principles.html %}

<div class="section contact js-fade-in">
  <h2>Contact</h2>
  <p>Let the Scala compiler work for you. We provide type classes, instances, conversions, testing, supplements to the standard library, and much more.</p>
  
  <div class="contact__items">
    <a href="{{ site.google_groups }}" class="contact__item contact__item--google">
      <h4>Google Groups</h4>
    </a>

    <a href="{{ site.gitter }}" class="contact__item contact__item--gitter">
      <h4>Gitter</h4>
    </a>

    <a href="mailto:{{ site.email }}" class="contact__item contact__item--email">
      <h4>Email</h4>
    </a>
  </div>
  
  <h2>Code of Conduct</h2>
  <p>Typelevel is dedicated to providing a harassment-free community for everyone, regardless of gender or anything to do with it (identity, history, expression, non-binary gender, etc.), sexual orientation, disability, physical appearance, body size, race, religion, and programming background.<br><br>

  <a class="btn text center js-expand-coc" href="#">Read full Code of Conduct</a></p>

  {% for page in site.pages %}
    {% if page.path contains "conduct" %}
      <div class="content content-small centered coc" id="CoC">
        {{ page.content | markdownify }}
      </div>
    {% endif %}
  {% endfor %}

</div>
