---
layout: default
title: Blog
---
<div class="content content-small pull-left">
  <div class="posts">
    {% for post in paginator.posts %}
    <div class="post">
      <h2>
        <a href="{{ post.url }}">{{ post.title }}</a>
      </h2>
      <p>{{ post.content | strip_html | truncatewords: 50 }}</p>
      <div class="post__meta">
        {% assign author = site.data.authors[post.meta.author] %}
        {% if author %}
          {% if author.portrait %}
            <img class="portrait" src="{{ author.portrait }}" />
            <p>
          {% endif %}
            by {{ author.full_name }} 
        {% endif %}
        on {{ post.date | date: "%b %d, %Y" }}</p>
      </div>
    </div>
    {% endfor %}

    <!-- Pagination links -->
    <div class="pagination">
      {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path }}" class="btn text prev">Previous</a>
      {% endif %}
      {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path }}" class="btn text next">Next</a>
      {% endif %}
    </div>
  </div>
</div>

<div class="sidebar">
  <h4>About Blog</h4>
  <p class="sidebar__about">Let the Scala compiler work for you. We provide type classes, instances, conversions, testing, supplements to the standard library, and much more.</p>

  <h4>Follow Us</h4>
  <a class="btn text" href="/feed.xml">Subscribe via RSS</a>
  <a class="btn text" href="//twitter.com/{{ site.twitter }}">Follow us on Twitter</a>
</div>