/* IMPORTS
========================================================================== */
@import "reset";
@import "variables";
@import "mixins";
@import "syntax";



/* BASICS
========================================================================== */
body {
  background-color: white;
  background-image: url('../img/bg-pattern.svg');
  background-repeat: repeat-x;
  font-family: $sans-serif;
  color: $dark-grey;
  height: 100%;
}

p {
  color: $black; // fallback
  color: rgba($black, .6);
}

h1,
h2,
h3,
h4 {
  font-family: $serif;
  font-weight: bold;
  margin: 0;
}

h1 {
  font-size: 10em;
}

h2 {
  font-size: 2.1em;
  letter-spacing: 0.01em;
  margin-bottom: $spacing-unit * 1.5;
}

h3 {
  font-weight: bold;
  font-size: 1.4em;
  color: $black;
  margin-bottom: $spacing-unit;
}

h4 {
  font-weight: normal;
  font-size: 1.1em;
  color: $black;
}

h6 {
  font-size: 1em;
  font-weight: $font-medium;
  margin-top: 0;
}

@include media-query($small) {
  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1.4em;
    line-height: 1.4;
  }

  h3 {
    font-size: 1.1em;
  }
}

a {
  color: inherit;
}

b,
strong {
  font-weight: $font-medium;
  color: $black;
}

.btn {
  display: inline-block;
  color: #fff;
  background-color: $orange;
  border-radius: 420px;
  text-decoration: none;
  padding: 4px 15px;
  font-size: 0.9em;
  font-family: $sans-serif;
  @include ease;

  &:hover {
    background-color: #E74040;
  }

  &.large {
    display: block;
    text-align: center;
    width: 180px;
    margin-top: $spacing-unit * 1.5;
    font-size: 1em;
    padding: 8px 0;
  }

  &.text {
    font-size: 1em;
    padding: 0;
    background-color: transparent;
    border-radius: 0;
    color: $orange;
    padding-bottom: 2px;
    border-bottom: 2px solid rgba($orange, .2); 

    &:hover {
      background-color: transparent;
    }
  }

  &.center {
    margin-left: auto;
    margin-right: auto;
  }
}

pre {
  font-family: $monospace;
  font-size: 0.9em;
}

p code {
  padding: 1px 4px;
  background: $border;
  font-size: 0.9em;
  @include box-shadow(0 0 0 1px rgba(#fff, .1));
  border-radius: 3px;
}

blockquote {
  border-left: 2px solid $border;
  margin-left: $spacing-unit;
  padding-left: $spacing-unit;
}

.tag {
  @extend .btn;
  background-color: $light-grey;
  color: rgba($black, .6);

  &:hover {
    background-color: $light-grey;
  }
}

.side-note {
  color: rgba($black, .6);
  font-family: $serif;
  font-style: italic;
  font-size: 0.95em;
  line-height: 1.7;
}

.wrapper {
  max-width: $content;
  margin: 0 auto;
  @include clearfix;

  @include media-query($content) {
    padding: 0 $spacing-unit;
  }
}

.content {
  h1,
  h2,
  h3,
  h4 {
    margin-top: $spacing-unit * 4;
    margin-bottom: $spacing-unit;
    color: $dark-grey;

    a {
      text-decoration: none;
    }
  }

  p,
  li {
    color: rgba($black, .6);
    line-height: 1.5;
  }

  li {
    margin-bottom: $spacing-unit / 2;
  }

  .btn.large {
    width: auto;
    padding-left: 24px;
    padding-right: 24px;
    display: inline-block;
  }
}

.content-small {
  max-width: $content-small;

  &.centered {
    margin-left: auto;
    margin-right: auto;
  }
}



/* HERO/HOME
========================================================================== */
.header {
  position: relative;
  background-color: #fff;
  @include box-shadow(0 1px 0 rgba($black, .1), 0 1px 3px rgba($black, .1));
  z-index: 1337;
  line-height: $spacing-unit * 4;
  @include clearfix;

  .header__logo {
    float: left;
    text-indent: -13337px;
    background-image: url('../img/logo.svg');
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 140px 47px;
    width: 140px; height: 100%;
    overflow: auto;

    a {
      color: $black;
      text-decoration: none;
      font-weight: $font-medium;
    }
  }

  .header__menu {
    display: none;
    float: right;
    text-decoration: none;
    color: rgba($black, .6);

    @include media-query($small) {
      display: block;
    }
  }

  .navigation {
    float: right;
    margin: 0;
    padding: 0;

    li {
      list-style: none;
      display: inline-block;
      margin-right: $spacing-unit * 3;

      &:last-of-type {
        margin-right: 0;
      }

      a,
      span {
        color: rgba($black, .6);
        text-decoration: none;
        cursor: pointer;
        @include ease;

        &:hover {
          color: $black;
        }
      }
    }

    li.active a,
    span.active {
      color: $black;
      font-weight: $font-medium;
    }

    .subnav {
      padding: $spacing-unit / 2;
      border-radius: 2px;
      position: absolute;
      background: #fff;
      max-width: 200px;
      line-height: 1.4;
      text-align: center;
      @include box-shadow(0 0 0 1px rgba($black, .1), 0 1px 2px rgba($black, .1));
      // @include transform(translateX(-50%));
      margin-top: -$spacing-unit;
      margin-left: -100px + $spacing-unit;
      @include transition(all .3s cubic-bezier(0.35,1.60,0.7,1));
      @include transform(scale(0));
      transform-origin: 50% -10px;
      opacity: 0;

      &.visible {
        opacity: 1;
        @include transform(scale(1));
      }

      li {
        margin-right: 0;
        margin-bottom: $spacing-unit / 2;
        padding-bottom: $spacing-unit / 2;
        border-bottom: 1px solid $border;

        &:last-of-type {
          margin-bottom: 0;
          border-bottom: 0;
          padding-bottom: 0;
        }
      }
    }

    @include media-query($small) {
      display: none;
      float: none;
      position: relative;
      background-color: #fff;
      line-height: 1;
      width: 100%;
      clear: both;
      padding-bottom: $spacing-unit;
      text-align: right;

      &.visible {
        display: block;
      }

      li {
        display: block;
        margin-bottom: $spacing-unit;
        width: 100%;

        &:last-child {
          margin-bottom: 0;
        }
      }

      .subnav {
        position: relative;
        margin: 0;
        display: none;
        max-width: 100%;
        @include box-shadow(none);
        padding: 0;
        text-align: right;

        li {
          padding: 0;
          margin-top: $spacing-unit;
          margin-bottom: 0;
          border: none;

          a {
            color: rgba($black, .4);
          }
        }
      }
    }
  }
}



/* HERO/HOME
========================================================================== */
.hero {
  position: relative;
  width: 100%;
  padding: $spacing-unit * 8.5 0;
  background-color: $dark-red;
  background-image: url('../img/bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 2px rgba($black, .2);

  @include media-query($small) {
    padding-top: $spacing-unit * 8;
    padding-bottom: $spacing-unit * 5;
    padding-left: $spacing-unit;
    padding-right: $spacing-unit;
  }
  
  // Logo in hero
  &:before {
    width: 100%;
    position: absolute;
    left: 0; right: 0; top: 2em;
    height: 7em;
    background-image: url('../img/logo-hero.svg');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: contain;
    content: "";
    opacity: .2;

    @include media-query($small) {
      height: 5em;
    }
  }

  h1 {
    font-size: 4em;
    margin-bottom: $spacing-unit * 1.5;

    @include media-query($small) {
      font-size: 2em;
    }
  }

  .hero__lead {
    max-width: 30em;
    font-size: 1.2em;
    margin: 0 auto;
    color: #fff;

    @include media-query($small) {
      font-size: 1em;
    }
  }
}

.section {
  margin-top: $spacing-unit * 4;
  @include clearfix;

  h2 {
    text-align: center;

    & + p {
      text-align: center;
      max-width: $small;
      margin-right: auto;
      margin-left: auto;
      margin-bottom: 3em;
      color: rgba($black, .6);
    }
  }
}

.events__event {
  position: relative;
  width: 46%;
  margin-right: 8%;
  float: left;
  overflow: hidden;
  text-align: center;

  @include media-query($small) {
    width: 100%;
    margin-right: 0;
    margin-bottom: $spacing-unit * 3;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &:nth-child(even) {
    margin-right: 0;
    clear: right;
  }

  h3 {
    margin-top: $spacing-unit * 3;
  }

  p,
  span {
    color: rgba($black, .6);
  }

  .meta {
    font-style: italic;
  }
}

.events__event-poster {
  position: relative;
  display: block;
  width: 100%;
  height: 260px;
  margin-left: $spacing-unit;
  background-size: cover;
  text-align: left;

  @include media-query($content) {
    height: 190px;
  }

  &:before {
    position: absolute;
    width: 100%; // fallback
    width: calc(100% - 20px);
    height: 100%;
    margin-left: -$spacing-unit;
    margin-top: $spacing-unit;
    border: 3px solid $red;
    content: "";
    z-index: -1;
  }
}

.projects__container {
  @include clearfix;
}

.projects__project {
  width: 32%;
  margin-right: 2%;
  margin-bottom: $spacing-unit;
  float: left;
  border: 1px solid $border;
  @include box-shadow(0 1px 2px rgba($black, .05));

  &:last-child {
    margin-bottom: 0;
  }

  @include media-query($content) {
    width: 49%;
    margin-right: 2%;

    &:nth-child(even) {
      margin-right: 0;
      clear: right;
    }
  }
  
  @include media-query($small) {
    width: 100%;
  }
  
  @include media-query-min($content) {
    &:nth-child(3n) {
      margin-right: 0;
      clear: right;
    }
  }

  &.macros {
    width: 100%;
    margin: 0;

    .projects__project-body {
      max-height: 100%;
    }
  }
}

.projects__project-header {
  border-bottom: 1px solid $border;
  padding: $spacing-unit;
  @include clearfix;

  h4 {
    float: left;
    line-height: 1;
  }
}

.projects__project-body {
  position: relative;
  padding: $spacing-unit;
  max-height: 200px;
  overflow: hidden;

  &.expanded {
    max-height: 100%;
  }

  .expand,
  .expand-core {
    position: absolute;
    bottom: $spacing-unit - 2px; right: $spacing-unit;
    @include box-shadow(-5px 0 0 #fff);
    border-bottom: 2px solid $border;
    background-color: #fff;
    color: $black;
    cursor: pointer;
  }

  p {
    margin-bottom: 0;
    color: rgba($black, .6);
  }
}

@include media-query($content) {
  .home {
    .projects__container {
      padding: 0 $spacing-unit * 2;
    }

    .projects__project {
      display: none;
      width: 49%;
      margin-right: 2%;
    }

    .projects__project:nth-child(2) {
      margin-right: 0;
    }

    .projects__project:nth-child(1),
    .projects__project:nth-child(2) {
      display: block;
    }
  }
}

@include media-query($small) {
  .home {
    .projects__container {
      padding: 0;
    }

    .projects__project {
      width: 100%;
      margin-right: 0;
      margin-bottom: $spacing-unit
    }
  }
}

.projects-core {
  .projects__project {
    width: 100%;
    height: auto;
  }

  .projects__project-body {
    max-height: 100%;
  }
}

@include media-query($content) {
  .about-us {
    padding: 0 $spacing-unit * 2;
  }
}

@include media-query($small) {
  .about-us {
    padding: 0;
  }
}


.about-us-dl {
  width: 32%;
  height: 240px;
  margin-left: 2%;
  margin-top: 0;
  margin-bottom: $spacing-unit;
  float: left;
  text-align: center;
  border: 1px solid $border;
  padding: $spacing-unit;
  padding-top: $spacing-unit * 5.5;
  @include box-shadow(0 1px 2px rgba($black, .05));
  background-position: center $spacing-unit * 2;
  background-repeat: no-repeat;

  @include media-query($content) {
    width: 49%;
    margin-left: 2%;

    &:nth-child(odd) {
      margin-left: 0;
      clear: left;
    }
  }

  @include media-query($small) {
    width: 100%;
    margin-left: 0;
  }
  
  @include media-query-min($content) {
    &:nth-child(3n) {
      margin-left: 0;
      clear: left;
    }
  }

  &.about-us-dl--open-source {
    background-image: url('../img/ico-opensource.svg');
    background-size: 50px 50px;
  }
  &.about-us-dl--functional {
    background-image: url('../img/ico-functional.svg');
    background-size: 31px 50px;
  }
  &.about-us-dl--shared {
    background-image: url('../img/ico-shared.svg');
    background-size: 45px 48px;
  }
  &.about-us-dl--resources {
    background-image: url('../img/ico-resources.svg');
    background-size: 50px 40px;
  }
  &.about-us-dl--friendly {
    background-image: url('../img/ico-friendly.svg');
    background-size: 60px 43px;
  }
  &.about-us-dl--modular {
    background-image: url('../img/ico-modular.svg');
    background-size: 56px 39px;
  }

  dt {
    @extend h4;
    position: relative;
    margin-bottom: $spacing-unit;

    &:after {
      position: absolute;
      display: block;
      top: $spacing-unit * 1.5; left: 50%;
      width: 2em; height: 2px;
      margin-left: -1em;
      background-color: $border;
      content: "";
    }
  }

  dd {
    margin: 0;
    color: rgba($black, .6);
  }
}



/* ABOUT
========================================================================== */
.contact__items {
  margin-bottom: $spacing-unit * 4;
  @include clearfix;
}

.contact__item {
  display: block;
  text-align: center;
  text-decoration: none;
  width: 32%;
  margin-left: 2%;
  float: left;
  padding: $spacing-unit;
  @include box-shadow(inset 0 0 0 1px $border);
  background-repeat: no-repeat;
  background-position: $spacing-unit center;
  line-height: 32px;
  
  @include media-query($content) {
    width: 49%;
    margin-bottom: $spacing-unit;

    &:nth-child(odd) {
      margin-left: 0;
      clear: left;
    }

    &:nth-child(3) {
      float: none;
      margin-left: auto;
      margin-right: auto;
    }
  }

  @include media-query($small) {
    width: 100%;
    margin-left: 0;
  }

  @include media-query-min($content) {
    &:nth-child(1) {
      margin-left: 0;
      clear: left;
    }
  }

  .tag {
    float: right;
  }
}

.contact__item--google {
  background-image: url('../img/ico-groups.png');
  background-size: 30px 32px;
}

.contact__item--gitter {
  background-image: url('../img/ico-gitter.svg');
  background-size: 32px 32px;
}

.contact__item--email {
  background-image: url('../img/ico-email.svg');
  background-size: 32px 32px;
}

#CoC {
  display: none;

  &:target {
    display: block;
  }
}




/* PROJECTS PAGE
========================================================================== */
.projects-page {
  .section {
    margin-top: $spacing-unit;

    &:first-of-type {
      margin-top: $spacing-unit * 4;
    }
  }
}

.list {
  margin-top: $spacing-unit;

  .list__item {
    width: 100%;
    border-top: 1px solid $border;
    padding: $spacing-unit 0;
    @include clearfix; 

    &:first-child {
      border-top: 0;
      padding-top: 0;
    }

    &:last-child {
      padding-bottom: 0;
    }

    .list__item-slug {
      float: right;
      color: rgba($black, .6);

      @include media-query($small) {
        display: none;
      }
    }

    h6 {
      display: inline-block;
      font-size: 1em;
      margin: 0;
      font-weight: $font-medium;
      color: $black;
    }
  }
}



/* EVENTS
========================================================================== */
.event__hero {
  position: relative;
  width: 100%;
  margin-bottom: $spacing-unit * 4;
  padding: 0 0 $spacing-unit * 6;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #fff;
  text-shadow: 0 1px 1px rgba($black, .2);
  overflow: hidden;
  @include clearfix;

  @include media-query($small) {
    padding: $spacing-unit * 5 0;
  }

  &:before {
    position: absolute;
    width: 100%; height: 100%;
    top: 0; left: 0; right: 0; bottom: 0;
    background-color: $dark-blue;
    opacity: .6;
    content: "";
    z-index: 0;
  }

  .wrapper {
    position: relative;
    z-index: 1;
  }

  h1 {
    font-size: 4em;

    @include media-query($small) {
      font-size: 2em;
    }
  }

  strong {
    color: inherit;
    font-weight: $font-bold;
  }

  .hero__lead {
    font-size: 1.2em;
    margin-top: $spacing-unit * 2;
    margin-bottom: 0;
    color: #fff;

    @include media-query($small) {
      font-size: 1em;
      margin-top: $spacing-unit;
    }
  }

  .event__header {
    width: 100%;
    margin-bottom: $spacing-unit * 6;
    padding-top: $spacing-unit;
    padding-bottom: $spacing-unit;
    border-bottom: 1px solid rgba(#fff, .1);
    font-size: 0.9em;
    @include clearfix; 

    @include media-query($small) {
      display: none;
    }

    p {
      float: left;
      margin: 0;
      color: #fff;
    }
  }

  .navigation {
    float: right;
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      display: inline-block;
      margin-right: $spacing-unit * 5;

      @include media-query($content) {
        margin-right: $spacing-unit * 2;
      }

      &:hover a {
        color: #fff;
      }

      &:last-of-type{
        margin-right: 0;
        clear: right;
      }

      a {
        text-decoration: none;
        color: rgba(#fff, .8);
        @include ease;
      }
    }
  }
}



/* BLOG
========================================================================== */
.posts {
  margin-top: $spacing-unit * 4;
}

.sidebar {
  width: $content - $content-small - $spacing-unit * 3;
  float: right;
  margin-top: $spacing-unit * 4;
  margin-left: $spacing-unit * 3;
  padding-left: $spacing-unit;
  border-left: 2px solid $border;

  @include media-query($content) {
    display: none;
  }

  .sidebar__about {
    margin-bottom: $spacing-unit * 2;
  }
  
  .btn.text {
    margin-top: $spacing-unit / 2;
    display: block;
    float: left;
    clear: left;
  }
}

.post__author { // on /blog/:title
  margin-top: $spacing-unit * 2;
  margin-bottom: $spacing-unit * 2;
  border-top: 1px solid $border;
  border-bottom: 1px solid $border;
  padding: $spacing-unit 0;
  @include clearfix;

  p {
    margin-bottom: $spacing-unit / 2;
    margin-top: $spacing-unit / 2;
  }

  .portrait {
    width: 80px; height: 80px;
    margin-right: $spacing-unit;
    display: block;
    float: left;
  }
}

.post__meta { // on /blog
  margin-top: $spacing-unit;
  color: rgba($black, .6);
  @include clearfix;

  p {
    float: left;
    height: 50px;
    margin: 0;
    line-height: 50px;
  }
}

.portrait {
  display: block;
  float: left;
  width: 50px; height: 50px;
  margin-right: $spacing-unit / 2;
  border-radius: 420px;
  vertical-align: middle;
}

.pagination {
  margin-top: $spacing-unit * 2;
  padding-top: $spacing-unit * 2;
  border-top: 1px solid $border;
  @include clearfix;

  .next {
    float: right;
  }

  .prev {
    float: left;
  }
}




/* FOOTER
========================================================================== */
.footer {
  width: 100%;
  background: $dark-grey;
  color: #fff;
  font-size: 0.9em;
  line-height: $spacing-unit * 4;
  margin-top: $spacing-unit * 4;
  @include clearfix;

  @include media-query($content) {
    padding: $spacing-unit;
    line-height: 24px;
  }

  p {
    float: left;
    margin: 0;
    color: #fff;

    @include media-query($content) {
      float: none;
      width: 100%;
      margin: 0 auto $spacing-unit / 2;
      text-align: center;
    }

    @include media-query($small) {
      margin-bottom: $spacing-unit;
    }

    a {
      color: $orange;
      text-decoration: none;
      border-bottom: 1px solid transparent;

      &:hover {
        border-bottom-color: $orange;
      }
    }
  }

  .navigation {
    float: right;
    margin: 0;
    padding: 0;

    @include media-query($content) {
      float: none;
      text-align: center;
    }

    li {
      list-style: none;
      display: inline-block;
      margin-right: $spacing-unit * 3;

      @include media-query($small) {
        margin-right: $spacing-unit * 1;
      }

      &:last-of-type {
        margin-right: 0;
      }

      a {
        color: $grey;
        text-decoration: none;
        @include ease;

        &:hover {
          color: #fff;
        }
      }
    }
  }
}



/* HELPERS
========================================================================== */
.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.ico-repo {
  display: inline-block;
  width: 26px; height: 26px;
  background-image: url('../img/ico-repo.svg');
  background-repeat: no-repeat;
  vertical-align: -35%;
  margin-right: $spacing-unit / 2;
}